.apexcharts-title-text {
  font-weight: 500;
  font-family: Roboto !important;
  font-size: 17px;
}

.date-picker-form {
  max-width: 20%;
}

.swith-range {
  max-width: 10% !important;
}

.embed-button {
  right: 10%;
}

.custom-form-embed .v-input__control .v-input__slot {
  border: none !important;
  border-radius: 5px !important;
  background-color: #f4f4f4 !important;
}

.apexcharts-title-text {
  font-weight: 500;
  font-family: Roboto !important;
  font-size: 17px;
}

.sparkline-card {
  position: absolute !important;
  bottom: -7px;
  width: 105%;
  left: -5px;
}

.sparkline-card path {
  stroke: #03a9f496;
}

@keyframes slideIn {
  0% {
    transform: translateY(30px);
    opacity: 0
  }

  100% {
    transform: translateY(0);
    opacity: 100
  }
}

.home-card {
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12) !important;
  overflow: hidden;
  animation: .5s ease-out 0s 1 slideIn;
}

.home-card:hover {
  box-shadow: none !important;
}

.mode-select .v-btn--active {
  background-color: #03a9f4;
  color: white !important;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12) !important;
}

.mode-select {
  box-shadow: none !important;
  border-radius: 5px !important;
}

.mode-select button:first-child {
  border-radius: 5px 0 0 5px !important;
}

.mode-select button:last-child {
  border-radius: 0 5px 5px 0 !important;
}

.mode-select button {
  width: 100px !important;
  height: 45px;
}

.search-button {
  height: 56px !important;
  width: 140px !important;
  border-radius: 5px !important;
}

.search-form .v-input__control .v-input__slot {
  border: 1px solid #d5d5d5 !important;
  border-radius: 5px !important;
  transition: all .5s ease !important;
}

.search-form .v-input__control .v-input__slot:hover {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12) !important;
}

.menu-title:hover {
  letter-spacing: 1px;
}

.menu-title {
  font-size: 23px !important;
  text-decoration: none;
  transition: all .3s ease
}
